@media (max-width:768px){
    .section-p1 {
        padding: 40px 80px;
    }
    #navbar{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px !important;
      background-color: white;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.3s;

  }
  #navbar.active{
    right:0px;
}  
  #navbar li{
      margin-bottom: 25px;
  }
  #mobile{
    display: flex;
    align-items:center ;
}
#mobile i{
color: #1a1a1a;
font-size: 24px;
padding-left: 20px;
}
#close{
    display: flex;
    align-items:center ;
}
#close{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #1a1a1a;
    font-size: 24px;
}
#slider{
    height: 70vh;
    padding: 0 80px;
   
   
}
.slidertext{
    padding-left: 15px !important;
}
#features{
    justify-content: center;
}
#features .febox{
    margin: 15px 15px;
}
#product1 .pro-container {
    
    justify-content: center;
    
}
#product1 .pro {
    margin: 15px;  
}
}